[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit
[submodule "bundle/matchit-ruby"]
	path = bundle/matchit-ruby
	url = https://github.com/vim-scripts/ruby-matchit
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
        path = bundle/tlib_vim
        url = https://github.com/tomtom/tlib_vim
[submodule "bundle/vim-addon-mw-utils"]
        path = bundle/vim-addon-mw-utils
        url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = http://github.com/bingaman/vim-sparkup.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/vim-scripts/Conque-Shell
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/superjudge/tasklist-pathogen
[submodule "bundle/YCM"]
	path = bundle/YCM
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
